*{
    font-family: 'Inter', sans-serif;
}
.header{
    background-color: #3E92CC;
    padding: 25px;
}
.kotak-cari{
    border-radius: 10px;
    display: inline-block;
    border-style: solid;
    padding-right: 3px;
    border-color: #FFFAFF;
    padding: 5px;
}

::placeholder{
    color: #FFFAFF;
}
.text-cari{
    padding-left: 10px;
    width: 360px;
    height: 35px;
    border: none;   
    outline: none;
    border-radius: 5px;
    background: transparent;
    color: #FFFAFF;
}
.button-cari{
    border-radius: 4px;
    padding: 7px 20px;
    color: #fafafa;
    border: none;
    background-color: #DE490D;
    cursor: pointer;
}
.btn-danger{
    border-color: black;
    border-width: 6px;
    border-radius: 10px;
}